body:before {
  content: "";
  display: block;
  position: fixed;
  // left: 0;
  // top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('/assets/images/2144.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0 ;


}

#past-sponsors{
  padding-top: 100px;
  h1{
    text-align: center;
    margin-bottom: 10px;
  }
  .row{
    margin-bottom: 50px;
    // height: 200px;
    // padding-left: 8%;


    img{
      max-width: 90%;
      max-height: 100%;
      margin: 4px auto;
      display: block;
      padding-top: 40px;


    }
  }
}
