body:before {
  content: "";
  display: block;
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/assets/images/faq-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0; }

main#faq {
  padding-top: 100px;
  font-weight: bold; }
  main#faq hr {
    border: 1px solid black; }
  main#faq em {
    font-weight: 600; }
  main#faq .question p:before {
    content: "Q)"; }
  main#faq .answer i {
    margin-right: 6px; }
