.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

#team {
  font-family: "Special Elite", cursive; }
  #team .section {
    position: relative; }
  #team .section .column {
    margin-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(239, 239, 239, 0.9); }
  #team .section .image-card {
    box-shadow: none;
    background-color: transparent;
    max-height: 100%;
    margin-top: 2px; }
    #team .section .image-card img {
      width: 200px;
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25); }
      @media screen and (min-width: 300px) {
        #team .section .image-card img {
          height: 20vw; } }
    #team .section .image-card h4,
    #team .section .image-card h5 {
      text-align: center;
      font-size: 12px; }
  #team .section h1,
  #team .section h2 {
    text-align: center;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal; }
  #team .section h1 {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.45;
    color: #920224; }
  #team .section h1.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 10px;
    z-index: 100; }
  #team .section h2 {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    color: black; }
