<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<!-- fontstyles -->
<link href="https://fonts.googleapis.com/css?family=Acme|Arvo|Bitter|Patrick+Hand|Poor+Story" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine|Cinzel|Cookie|Lobster+Two|Luckiest+Guy|Pacifico|Permanent+Marker|Righteous|Special+Elite|ZCOOL+QingKe+HuangYou" rel="stylesheet">


<script src="https://www.marcoguglie.it/Codepen/RoundedAnimatedNav/js/velocity.min.js" charset="utf-8"></script>
<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/navbar.css">

<link rel="stylesheet" href="/css/master.css">
<link rel="stylesheet" href="/css/team.css">
<% if(typeof events_page !== 'undefined'  ){%>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
  <link rel="stylesheet" href="/css/events.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js" charset="utf-8"></script>
<%}%>


<% if(typeof past_sponsors_page !== 'undefined'  ){%>



  <link rel="stylesheet" href="/css/past-sponsors.css">


<%}%>
<link rel="stylesheet" type="text/css" href="/css/fullpage.css" />
<script type="text/javascript" src="/js/fullpage.js"></script>
<script type="text/javascript" src="/js/fullpage.extensions.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<title>Nexus'19</title>
