<div class="cd-overlay-nav">
  <span></span>
</div> <!-- cd-overlay-nav -->

<div class="cd-overlay-content">
  <span></span>
</div> <!-- cd-overlay-content -->

        <a class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

<!-- AOS script -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
          <script>
            AOS.init();
          </script>
