<ul class="cd-primary-nav">
  <li><a href="/about-us">About Nexus</a></li>
  <li><a href="/team">The team</a></li>
  <li><a href="/events">Events</a></li>
  <!-- <li><a href="">  Sponsors</a></li> -->
  <li><a href=/past-sponsors>Past Sponsors</a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li>  <a href="/contact-us">Contact Us </a> </li>


</ul>
