<ul class="cd-primary-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about-nexus">About Nexus</a></li>
  <li><a href="/team">The team</a></li>
  <li><a href="/events">Events</a></li>
  <!-- <li><a href="">  Sponsors</a></li> -->
  <li><a href=/past-sponsors>Past Sponsors</a></li>
  <li><a href="/faq">FAQs and T&C</a></li>
  <li>  <a href="/contact-us">Contact Us </a> </li>
  <li>  <a href="https://www.facebook.com/nexus.svc/" target="_blank"><i class="fab fa-facebook"> </i>
<a href="https://www.instagram.com/nexus_svc" target="_blank"><i class="fab fa-instagram"></i></a>
<a href="https://www.snapchat.com/add/nexus_svc" target="_blank"><i class="fab fa-snapchat-square"></i></a> </li>

</ul>
