<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head',{about_nexus_page: true}) %>
  <link rel="stylesheet" href="/css/about-nexus.css">
  <script src="/js/about-nexus.js" charset="utf-8"></script>
</head>
<body>
  <% include ../partials/nav_top.ejs %>
  <main id="about-nexus" class="container-fluid">
    <div style="background: rgba(150, 0, 27, 0.57);" class="row" id="about-nexus-content">
      <!-- <div class="column col-md-6 col-xs-6 col-sm-6" >
      <img src="/assets/images/about-nexus.png" alt="" data-aos="fade-right"  data-aos-once="true" class="shadow">
    </div> -->
    <div  class="column col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
      <h1 data-aos="fade-left" data-aos-once="true" >NEXUS</h1>
      <p data-aos="fade-left" data-aos-once="true" id="intro">
        For the past forty one years, Fine Arts Association in collaboration with the
        Students’ Union has been tirelessly working towards organizing Sri Venkateswara College's annual
        inter-college cultural festival, Nexus. Apart from the prestigious accolades
        and awards bagged by Nexus, the exuberance in the Campus at the time of the
        festival attracts students from all across the country.
        <br>
        Sustaining its legacy of euphoria and intellectual vigour, we strive to ensure
        that Nexus becomes the talk of the town as soon as it commences. Gear up to
        delve deep into a melange of music, art, dance and literature and to experience
        pure bliss.

      </p>



    </div>
    <div class="column col-md-12" id="highlights">

      <!-- <br> -->
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <!-- <img src="/assets/images/college-top.png" alt="" class="shadow" data-aos="fade-down"> -->
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/college.png" alt="" >
          <span class="center-text">70+ Colleges</span>
        </div>


      </div>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <!-- <img src="/assets/images/events-top.png" alt="" class="shadow" data-aos="fade-down"> -->
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/events.png" alt="" >
          <span class="center-text">30+ Events</span>
        </div>


      </div>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <!-- <img src="/assets/images/footfall-top.png" alt="" class="shadow" data-aos="fade-down"> -->
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/footfall.png" alt="" >
          <span class="center-text">30,000+ Footfall</span>
        </div>


      </div>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <!-- <img src="/assets/images/genres-top.png" alt="" class="shadow" data-aos="fade-down"> -->
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/genres.png" alt="" >
          <span class="center-text">10+ Genres</span>
        </div>


      </div>

      <!-- <hr /> -->
    </div>

  </div>
  <!-- <div class="row" id="highlights">

  <br>
  <div class="column col-md-3 col-sm-6 col-xs-6">
  <div class="column col-md-12">
  <img src="/assets/images/college-top.png" alt="" class="shadow" data-aos="fade-down">
</div>
<div class="column col-md-12" data-aos="fade-up">
<img src="/assets/images/college.png" alt="" >
<span class="center-text">70+ Colleges</span>
</div>


</div>
<div class="column col-md-3 col-sm-6 col-xs-6">
<div class="column col-md-12">
<img src="/assets/images/events-top.png" alt="" class="shadow" data-aos="fade-down">
</div>
<div class="column col-md-12" data-aos="fade-up">
<img src="/assets/images/events.png" alt="" >
<span class="center-text">30+ Events</span>
</div>


</div>
<div class="column col-md-3 col-sm-6 col-xs-6">
<div class="column col-md-12">
<img src="/assets/images/footfall-top.png" alt="" class="shadow" data-aos="fade-down">
</div>
<div class="column col-md-12" data-aos="fade-up">
<img src="/assets/images/footfall.png" alt="" >
<span class="center-text">30,000+ Footfall</span>
</div>


</div>
<div class="column col-md-3 col-sm-6 col-xs-6">
<div class="column col-md-12">
<img src="/assets/images/genres-top.png" alt="" class="shadow" data-aos="fade-down">
</div>
<div class="column col-md-12" data-aos="fade-up">
<img src="/assets/images/genres.png" alt="" >
<span class="center-text">10+ Genres</span>
</div>


</div>


</div> -->
<div class="row" id="fest-nights">
  <h1 style="margin-top:100px; margin-bottom:100px;" data-aos="zoom-in" data-aos-once="true" data-aos-delay="500"> <span style="background: rgba(150, 0, 27, 0.57);"> HIGHLIGHTS</span></h1>
  <div class="column col-md-12 col-sm-12 col-xs-12" id="sufi-night">

    <div class="column col-md-6 col-sm-6 col-xs-6 image-section" data-aos="fade-right">
      <img src="/assets/images/sufi-night.jpg" class="shadow" alt="" >
    </div>
    <div style="background: rgba(150, 0, 27, 0.57);" class="column col-md-6 col-sm-6 col-xs-6 text-section" data-aos="fade-left">
      <h1>Sufi Night</h1>
      <p>
        A misprized gem, amidst the pandemonium of rock and punk, takes you to a realm of
        divine sound filled with mysticism.The euphoric Sufi Night brings to you the magic of
        music, playing on the strings of your soul.
        This harmonious blend of mellifluous songs and acoustic instruments, creates a
        tranquil abode that appeases the hearts of all.
        <br>
        अल्फ़ाज़ों में ना हो सके बयान,<br>
        इस रात का ऐसा है जादू।<br>
        जीना भी क्या जीना,<br>
        जब तक इससे आँखों में ना उतारू।
      </p>
    </div>
  </div>
  <div class="column col-md-12 col-sm-12 col-xs-12" id="rock-night">


    <div style="background: rgba(150, 0, 27, 0.57);" class="column col-md-6 col-sm-6 col-xs-6 text-section" data-aos="fade-right">
      <h1>Rock Night</h1>
      <p>
        The perfect night to dance away on electrifying tunes and sing along with the top
        bands in the country, the rock night is a dynamic combination of a visual and musical
        delight for all lovers of music. With bands such as Indian Ocean, Parikrama and
        Unplugged having performed previously, it truly is an experience of its own kind!
      </p>
    </div>
    <div class="column col-md-6 col-sm-6 col-xs-6 image-section" data-aos="fade-left">
      <img src="/assets/images/rock-night.jpg" class="shadow" alt="">
    </div>
  </div>
  <div class="column col-md-12 col-sm-12 col-xs-12" id="star-night">

    <div class="column col-md-6 col-sm-6 col-xs-6 image-section" data-aos="fade-right">
      <img src="/assets/images/star-night.jpg" class="shadow" alt="">
    </div>
    <div style="background: rgba(150, 0, 27, 0.57);" class="column col-md-6 col-sm-6 col-xs-6 text-section" data-aos="fade-left">
      <h1>Star Night</h1>
      <p>
        It is the most awaited and anticipated event of Nexus every year. Three days of a
        myriad of events culminate in this exhilarating performance. It is the
        perfect finale to three days of complete entertainment. Past performers include
        Armaan Malik, Kailash Kher, Sunidhi Chauhan, Euphoria, Shankar Mahadevan,
         Vishal Dadlani, Mohit Chauhan and many others.
      </p>
    </div>

  </div>
</div>

</main>
<% include ../partials/nav_bottom.ejs %>
</body>
</html>
