<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head',{about_nexus_page: true}) %>
  <link rel="stylesheet" href="/css/about-nexus.css">
  <script src="/js/about-nexus.js" charset="utf-8"></script>
</head>
<body>
  <% include ../partials/nav_top.ejs %>
  <main id="about-nexus" class="container-fluid">
    <div class="row" id="about-nexus-content">
      <div class="column col-md-6 col-xs-6 col-sm-6" >
        <img src="/assets/images/about-nexus.png" alt="" data-aos="fade-right"  data-aos-once="true" class="shadow">
      </div>
      <div class="column col-md-6 col-xs-6 col-sm-6">
        <h1 data-aos="fade-left" data-aos-once="true" >Nexus'19</h1>
        <p data-aos="fade-left" data-aos-once="true">
          Since the last 41 years, the Fine Arts Association and the Student's Union of Sri
          Venkateswara College have been dedicatedly working each year to organize one of the best
          cultural fiesta of North India, Nexus, which takes place annually in the campus of Sri
          Venkateswara College, New Delhi.

        </p>
        <p data-aos="fade-right" data-aos-once="true">
          At Nexus, we strive to bring together music,art,dance,
          literature, dramatics, brands and college students to create unforgettable experiences.
          Our incredible events with multifarious aspects give the students an opportunity to
          explore rich heritage of Nexus while the vendors & brands are able to market
          effectively to thousands of college students.
        </p>


      </div>
      <hr />
    </div>
    <div class="row" id="highlights">

      <br>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <img src="/assets/images/college-top.png" alt="" class="shadow" data-aos="fade-down">
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/college.png" alt="" >
          <span class="center-text">70+ Colleges</span>
        </div>


      </div>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <img src="/assets/images/events-top.png" alt="" class="shadow" data-aos="fade-down">
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/events.png" alt="" >
          <span class="center-text">30+ Events</span>
        </div>


      </div>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <img src="/assets/images/footfall-top.png" alt="" class="shadow" data-aos="fade-down">
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/footfall.png" alt="" >
          <span class="center-text">30,000+ Footfall</span>
        </div>


      </div>
      <div class="column col-md-3 col-sm-6 col-xs-6">
        <div class="column col-md-12">
          <img src="/assets/images/genres-top.png" alt="" class="shadow" data-aos="fade-down">
        </div>
        <div class="column col-md-12" data-aos="fade-up">
          <img src="/assets/images/genres.png" alt="" >
          <span class="center-text">10+ Genres</span>
        </div>


      </div>

      <hr />
    </div>
    <div class="row" id="fest-nights">
      <h1 data-aos="zoom-in" data-aos-once="true" data-aos-delay="500">Highlights</h1>
      <div class="column col-md-12 col-sm-12 col-xs-12" id="sufi-night">

        <div class="column col-md-6 col-sm-6 col-xs-6 image-section" data-aos="fade-right">
          <img src="/assets/images/sufi-night.jpg" class="shadow" alt="" >
        </div>
        <div class="column col-md-6 col-sm-6 col-xs-6 text-section" data-aos="fade-left">
          <h1>Sufi Night</h1>
          <p>
            A misprized gem, amidst the pandemonium of rock and punk, takes you to a realm of
            divine sound filled with mysticism.The euphoric Sufi Night brings to you the magic of
            music, playing on the strings of your soul.
            This harmonious blend of mellifluous songs and acoustic instruments, creates a
            tranquil abode that appeases the hearts of all.
          </p>
        </div>
      </div>
      <div class="column col-md-12 col-sm-12 col-xs-12" id="rock-night">


        <div class="column col-md-6 col-sm-6 col-xs-6 text-section" data-aos="fade-right">
          <h1>Rock Night</h1>
          <p>
            The perfect night to dance away on electrifying tunes and sing along with the top
            bands in the country, the rock night is a dynamic combination of a visual and musical
            delight for all lovers of music. With bands such as Indian Ocean, Parikrama and
            Unplugged having performed previously, it truly is an experience of its own kind!
          </p>
        </div>
        <div class="column col-md-6 col-sm-6 col-xs-6 image-section" data-aos="fade-left">
          <img src="/assets/images/rock-night.jpg" class="shadow" alt="">
        </div>
      </div>
      <div class="column col-md-12 col-sm-12 col-xs-12" id="star-night">

        <div class="column col-md-6 col-sm-6 col-xs-6 image-section" data-aos="fade-right">
          <img src="/assets/images/star-night.jpg" class="shadow" alt="">
        </div>
        <div class="column col-md-6 col-sm-6 col-xs-6 text-section" data-aos="fade-left">
          <h1>Star Night</h1>
          <p>
            Market segmentation can be defined as the division of a market into its select groups,
            based on a variety of factors such as needs, characteristics and behaviours, so that
            the application of the marketing mix can be appropriate to the individual.
          </p>
        </div>

      </div>
    </div>

  </main>
  <% include ../partials/nav_bottom.ejs %>
</body>
</html>
