<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head',{about_nexus_page: true}) %>
  <link rel="stylesheet" href="/css/about-nexus.css">
  <script src="/js/about-nexus.js" charset="utf-8"></script>
</head>
<body>
  <% include ../partials/nav_top.ejs %>
  <main id="about-nexus" class="container-fluid">
    <div class="row" id="about-nexus-content">
      <div class="column col-md-6" >
        <img src="/assets/images/about-nexus.png" alt="" data-aos="fade-right">
      </div>
      <div class="column col-md-6">
        <h1 data-aos="fade-left" data-aos-mirror="false" >Nexus'19</h1>
        <p data-aos="fade-left">
          Nexus is the annual 3-day inter-college cultural
          festival to be held in the third week of February 2019,
          within the college premises.
        </p>
        <ul>
          <li data-aos="fade-left" data-aos-delay="500">30+ Stalls</li>
          <li data-aos="fade-left" data-aos-delay="600">3 Nights</li>
          <li data-aos="fade-left" data-aos-delay="700">40000+ attendees</li>
          <li data-aos="fade-left" data-aos-delay="800">30+ Events</li>
          <li data-aos="fade-left" data-aos-delay="900">Past Stars include : Armaan Malik,
            Kailash Kher</li>
          </ul>
        </div>
        <!-- <hr /> -->
      </div>

    </main>
    <% include ../partials/nav_bottom.ejs %>
  </body>
  </html>
