<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/faq.css">
</head>
<body>
  <% include ../partials/nav_top.ejs %>
  <main class="container-fluid" id="faq">
    <div class="row">
      <div class="column col-md-12">
        <h1>Frequently Asked Questions</h1>
        <hr>
      </div>

      <div class="column col-md-12">
        <div class="question">
          <p>
            What is Nexus?
          </p>
        </div>
        <div class="answer">
          <p>
            Nexus is the Annual 3 Day Inter-College Cultural Festival of Sri Venkateswara College,
            New Delhi which is being organised jointly by the Fine Arts Association and Student's
            Union from last 40 years. <br>
            This year in February'19, Nexus is presenting its 41st edition.
          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            When is Nexus'19 scheduled to be held?
          </p>
        </div>
        <div class="answer">
          <p>
            The three day cultural extravaganza will take place on <em> 21,22 and 23 February 2019</em> in the campus of Sri Venkateswara College, New Delhi.
          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            What is the theme of Nexus'19?
          </p>
        </div>
        <div class="answer">
          <p>
            The theme for Nexus'19 is <em>Carnival D' Incredible</em>.
          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            How to reach at Sri Venkateswara College, New Delhi ?
          </p>
        </div>
        <div class="answer">
          <p>
            From Indira Gandhi International Airport: <br />
            SVC is situated about 11.7 kms away from IGI Airport. A pre-paid taxi or a radiotaxi can also be taken from the airport.
            <br />


            The most convenient transport is Delhi Metro. <br />
            <em>Durgabai Deshmukh South Campus</em> (Pink Line) metro station is the nearest metro station to the college campus.
            More information for Delhi Metro is available at <a href="http://www.delhimetrorail.com/" target="_blank">http://www.delhimetrorail.com/</a>. <br />
            And Regarding Metro Route refer: <a href="http://www.delhimetrorail.com/zoom-map.jpg">http://www.delhimetrorail.com/zoom-map.jpg</a>



            <h2> GET DIRECTIONS </h2>

            Sri Venkateswara College <br />
            Dhaula Kuan Enclave I, Dhaula Kuan, New Delhi, Delhi 110021. <br />
            <br>
            011 2411 2196
            <a href="https://maps.app.goo.gl/PXsyU">Google Maps</a>



          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            Are personal vehicles allowed inside the college campus?
          </p>
        </div>
        <div class="answer">
          <p>
            No, personal vehicles are not allowed inside the college campus.
          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            How is a participant's performance recognised at the festival?
          </p>
        </div>
        <div class="answer">
          <p>
            For formal events, winning participants are rewarded with certificates and cash prizes which can go as high as ₹ 6000 (depending upon the event).
            For the informal events, winning participants, i.e. the first and second position holders are rewarded with cash prizes of ₹ 1000 and ₹ 500 respectively.

          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            From where can a participant get the latest updates related to Nexus'19?
          </p>
        </div>
        <div class="answer">
          <p>
            Please follow Fine Arts Association and Nexus on Snapchat, Instagram and Facebook:- <br>
            Fine Arts Association:
            <a href="https://www.facebook.com/FineArtsAssociation/" target="_blank"><i class="fab fa-facebook"> </i> </a>
            <a href="https://www.instagram.com/faa.svc" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.snapchat.com/add/faa.svc" target="_blank"><i class="fab fa-snapchat-square"></i></a>
            <br>
            NEXUS:
            <a href="https://www.facebook.com/nexus.svc/" target="_blank"><i class="fab fa-facebook"> </i> </a>
            <a href="https://www.instagram.com/nexus_svc" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.snapchat.com/add/nexus_svc" target="_blank"><i class="fab fa-snapchat-square"></i></a>
          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            Will there be any accomodation facility for the participants from the college side?
          </p>
        </div>
        <div class="answer">
          <p>
            No, we do not provide any kind of accomodations.

          </p>
        </div>

      </div>
      <div class="column col-md-12">
        <div class="question">
          <p>
            How can a participant register for any event?
          </p>
        </div>
        <div class="answer">
          <p>
            For registration in Formal Events, the willing participants need to check the Facebook page of particular society of whose event they wish to take participate in. <br>
            For registration in Informal Events the willing participants need to check the Facebook page of Nexus and fill registration form for that particular informal event. They can also register at the main desk in the college on the fest day.
          </p>
        </div>
      </div>
      <div class="column col-md-12">
        <h1>Terms and Conditions</h1>
        <hr>
      </div>
      <ul>
        <li>

          Sri Venkateswara College has a zero tolerance drug policy and discourages festival goers from bringing drugs to the festival.
        </li>

        <li>

          Use of alcohol, cigarettes, tobacco and other drugs or narcotics is strictly prohibited inside the college premises.
        </li>

        <li>

          The college would not be responsible for any damage or loss of any vehicle outside the college.
        </li>

        <li>

          Participants would be themselves responsible for their belongings.
        </li>

        <li>

          Any kind of weapons are also not allowed inside the college premises.
        </li>

        <li>

          The participants are expected to maintain discipline and behave well while in the college premises.
        </li>

        <li>

          In case of any damage to the college premises and dispute with the college authorities, a strict disciplinary action shall be taken.
        </li>

        <li>

          Students are expected to be patient while performing security checks.
        </li>

        <li>

          No entry inside the campus is allowed without college ID Cards.
        </li>
      </ul>
    </main>
    <% include ../partials/nav_bottom.ejs %>
  </body>
  </html>
