<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
</head>
<body>


  <div class="container-fluid">
    <nav>
      <% include ../partials/nav_top.ejs %>
    </nav>
    <main class="cd-content">
      <div class="row">
        <div id="section-background" >
          <div id="title-header">
            <h2 class="title-header-view">
              <span class="title">
                Nexus 2019
              </span> <br>
              <span class="subtitle">Coming Soon!</span>

            </h2>
          </div>
        </div>
      </div>
    </main>

  <% include ../partials/nav_bottom.ejs %>


  </div>


</body>
</html>
