<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Acme|Arvo|Bitter|Patrick+Hand|Poor+Story" rel="stylesheet">
</head>
<style media="screen">
  .container-fluid{
    padding-left: 0;
  }
  .test-font{
    /* font-family: 'Patrick Hand', cursive; */
font-family: 'Bitter', serif;
/* font-family: 'Arvo', serif; */
/* font-family: 'Acme', sans-serif; */
/* font-family: 'Poor Story', cursive; */
  }
</style>
<body>


  <div class="container-fluid">
    <nav>
      <% include ../partials/nav_top.ejs %>
    </nav>
    <main class="cd-content">
      <div class="row">
        <div id="section-background" >
          <div id="title-header">
            <h2 class="title-header-view">
              <span class="title test-font">
                Nexus 2019
              </span> <br>
              <span class="subtitle">Coming Soon!</span>

            </h2>
          </div>
        </div>
      </div>
    </main>

  <% include ../partials/nav_bottom.ejs %>


  </div>


</body>
</html>
