<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head',{past_sponsors_page: true}) %>
</head>
<body>
  <% include ../partials/nav_top.ejs %>
  <main class="container-fluid" id="past-sponsors">
    <h1>Our Past Sponsors...</h1>
    <div class="row">

      <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
        <img style="animation-duration: 1s" src="/assets/images/past_sponsors/1.png" alt="">
      </div>
      <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
        <img src="/assets/images/past_sponsors/2.jpg" alt="">
      </div>
      <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
        <img src="/assets/images/past_sponsors/3.png" alt="" style="padding-top: 0;">
      </div>
      <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
        <img src="/assets/images/past_sponsors/4.png" alt="">
      </div>
      </div>


      <div class="row">
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/5.png" alt="" style="padding-top: 15px;">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/6.jpeg" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/7.png" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/8.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/9.jpg" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/10.jpg" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/11.png" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/12.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/13.png" alt="" style=" padding-top: 10px;">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/14.png" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/15.png" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/16.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/17.png" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/18.png" alt="">
        </div>
        <div class=" column col-sm-6 col-xs-6 col-md-3  aos-item" data-aos="zoom-in">
          <img src="/assets/images/past_sponsors/19.png" alt="">
        </div>
      </div>












  </main>


  <% include ../partials/nav_bottom.ejs %>
</body>
</html>
