<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>

</head>
<body>

  <div id="team">
    <nav>
      <% include ../partials/nav_top.ejs %>
    </nav>
    <main class="cd-content container-fluid" id="fullpage">
      <div class="section row">


        <h1  class="sticky">Core Team</h1>
        <div class="column col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Aditya_Vashist.jpg" alt="Aditya Vashist">
            <h4>Aditya Vashist</h4>
            <h5>President</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/khyati_Aggarwal.jpg" alt="Khyati Aggarwal">
            <h4>Khyati Aggarwal</h4>
            <h5>Vice President</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
        </div>

      </div>
      <div class="section row align-items-center">
        <h1  class="sticky">Extended Core Team</h1>
        <div class="column col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Hrithik_Sethi.JPG" alt="Hrithik Sethi">
            <h4>Hrithik Sethi</h4>
            <h5>General secretary</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Akriti_Ahluwalia.jpg" alt="Akriti Ahluwalia">
            <h4>Akriti Ahluwalia</h4>
            <h5>Joint Secretary</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Anoushka.jpg" alt="Anoushka Gupta">
            <h4>Anoushka Gupta</h4>
            <h5>Joint Secretary</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Moksh_Sachdeva.JPG" alt="Moksh Sachdeva">
            <h4>Moksh Sachdeva</h4>
            <h5>Treasurer and Marketing Head</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Niharika_Srivastava.jpg" alt="Niharika Srivastava">
            <h4>Niharika Srivastava</h4>
            <h5>Creative Head</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Bharti_Bedi.jpg" alt="Bharti Bedi">
            <h4>Bharti Bedi</h4>
            <h5>Creative Head</h5>
          </div>

          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Nandani_Jain.jpg" alt="Nandani Jain">
            <h4>Nandani Jain</h4>
            <h5>Media and PR Head</h5>
          </div>
        </div>
      </div>
      <div class="section row">
        <h1  class="sticky">Core Team</h1>
        <div class="column col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item " data-aos="zoom-in">
            <img src="/assets/images/team_members/Aditya_Vashist.jpg" alt="Aditya Vashist">
            <h4>Aditya Vashist</h4>
            <h5>President</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/khyati_Aggarwal.jpg" alt="Khyati Aggarwal">
            <h4>Khyati Aggarwal</h4>
            <h5>Vice President</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
        </div>
      </div>
    </main>









    <% include ../partials/nav_bottom.ejs %>
  </div>


</body>
</html>
