<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>

</head>
<body>

  <div id="team">
    <nav>
      <% include ../partials/nav_top.ejs %>
    </nav>
    <main class="cd-content container-fluid" id="fullpage">
      <div class="section row" id="core-team">
        <h1 style="position:sticky;top:10px; z-index:100;">Core Team</h1>
        <div class="column col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Aditya_Vashist.jpg" alt="Aditya Vashist">
            <h4>Aditya Vashist</h4>
            <h5>President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/khyati_Aggarwal.jpg" alt="Khyati Aggarwal">
            <h4>Khyati Aggarwal</h4>
            <h5>Vice President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
        </div>

      </div>
      <div class="section row" id="core-team2">
        <h1 style="position:sticky;top:10px; z-index:100;">Core Team</h1>
        <div class="column col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Aditya_Vashist.jpg" alt="Aditya Vashist">
            <h4>Aditya Vashist</h4>
            <h5>President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/khyati_Aggarwal.jpg" alt="Khyati Aggarwal">
            <h4>Khyati Aggarwal</h4>
            <h5>Vice President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
        </div>
      </div>
      <div class="section row" id="core-team2">
        <h1 style="position:sticky;top:10px; z-index:100;">Core Team</h1>
        <div class="column col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item " data-aos="zoom-in">
            <img src="/assets/images/team_members/Aditya_Vashist.jpg" alt="Aditya Vashist">
            <h4>Aditya Vashist</h4>
            <h5>President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/khyati_Aggarwal.jpg" alt="Khyati Aggarwal">
            <h4>Khyati Aggarwal</h4>
            <h5>Vice President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
          <div class="col-sm-3 col-xs-4 col-md-3 image-card aos-item" data-aos="zoom-in">
            <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
            <h4>Muskan Gupta</h4>
            <h5>Vice President</h5>
          </div>
        </div>
      </div>
    </main>









    <% include ../partials/nav_bottom.ejs %>
  </div>


</body>
</html>
