<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
  <style media="screen">
  body:before {
    opacity: 0.4;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("/assets/images/team-background1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    </style>
  </head>

  <body>

    <div id="team">
      <nav>
        <% include ../partials/nav_top.ejs %>
        <link rel="stylesheet" href="/css/team2.css">
      </nav>
      <main class="cd-content container-fluid">
        <div class="row " id="core-team">
          <h1  class="sticky">Core Team</h1>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class="image-card">
              <img src="/assets/images/team_members/Aditya_Vashist.jpg" alt="Aditya Vashist">
              <h4>Aditya Vashist</h4>
              <h5>President</h5>
            </div>

          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3  aos-item" data-aos="zoom-in">
            <div class="image-card">
              <img src="/assets/images/team_members/Kavya_Garg.jpeg" alt="Kavya Garg">
              <h4>Kavya Garg</h4>
              <h5>Cultural Secretary</h5>
            </div>

          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3  aos-item" data-aos="zoom-in">
            <div class="image-card">
              <img src="/assets/images/team_members/khyati_Aggarwal.jpg" alt="Khyati Aggarwal">
              <h4>Khyati Aggarwal</h4>
              <h5>Vice President</h5>

            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3  aos-item" data-aos="zoom-in">
            <div class="image-card">
              <img src="/assets/images/team_members/Muskan_Gupta.jpg" alt="Muskan Gupta">
              <h4>Muskan Gupta</h4>
              <h5>Vice President</h5>
            </div>

          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class="image-card">
              <img src="/assets/images/team_members/Ikluvya_Mehta.jpeg" alt="Ikluvya Mehta">
              <h4>Ikluvya Mehta</h4>
              <h5>Vice President</h5>
            </div>

          </div>
        </div>
        <div class="row" id="extended-core">
          <h1  class="sticky">Extended Core Team</h1>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Hrithik_Sethi.JPG" alt="Hrithik Sethi">
              <h4>Hrithik Sethi</h4>
              <h5>General secretary</h5>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Akriti_Ahluwalia.jpg" alt="Akriti Ahluwalia">
              <h4>Akriti Ahluwalia</h4>
              <h5>Joint Secretary</h5>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3  aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Anoushka.jpg" alt="Anoushka Gupta">
              <h4>Anoushka Gupta</h4>
              <h5>Joint Secretary</h5>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3  aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Moksh_Sachdeva.JPG" alt="Moksh Sachdeva">
              <h4>Moksh Sachdeva</h4>
              <h5>Treasurer and Marketing Head</h5>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Niharika_Srivastava.jpg" alt="Niharika Srivastava">
              <h4>Niharika Srivastava</h4>
              <h5>Creative Head</h5>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3  aos-item" data-aos="zoom-in">
            <div class='image-card'>



              <img src="/assets/images/team_members/Bharti_Bedi.jpg" alt="Bharti Bedi">
              <h4>Bharti Bedi</h4>
              <h5>Creative Head</h5>
            </div>
          </div>
        </div>
        <div class="row" id="organising">
          <h1  class="sticky">Organising Team</h1>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/pulkit_tandon.jpg" alt="pulkit tandon">
              <h4>pulkit tandon</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Waris_mohindru.jpg" alt="Waris mohindru">
              <h4>Waris mohindru</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Anuja_bhardwaj.jpg" alt="Anuja bhardwaj">
              <h4>Anuja bhardwaj</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Kashin_pasricha.jpg" alt="Kashin pasricha">
              <h4>Kashin pasricha</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Ambika_Anand.jpg" alt="Ambika Anand">
              <h4>Ambika Anand</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Nikhil_zutshi.png" alt="Nikhil zutshi">
              <h4>Nikhil zutshi</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Kaavya_Malhan.jpg" alt="Kaavya Malhan">
              <h4>Kaavya Malhan</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Kahan_Jindal.jpg" alt="Kahan Jindal">
              <h4>Kahan Jindal</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Malvika_Sud.jpg" alt="Malvika Sud">
              <h4>Malvika Sud</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Rhythm_Garg.jpg" alt="RhythmGarg">
              <h4>Rhythm Garg</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/saarthak_chhibber.jpg" alt="saarthak chhibber">
              <h4>saarthak chhibber</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Arubha_Kataria.jpg" alt="Arubha Kataria">
              <h4>Arubha Kataria</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Ria_Malhotra.jpg" alt="Ria Malhotra">
              <h4>Ria Malhotra</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Rahul_Bhojwani.jpg" alt="Rahul Bhojwani">
              <h4>Rahul Bhojwani</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Ruchira_Madan.jpg" alt="Ruchira Madan">
              <h4>Ruchira Madan</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Jasleen_Giani.jpg" alt="Jasleen Giani">
              <h4>Jasleen Giani</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Lakshay_Sharma.jpg" alt="Lakshay Sharma">
              <h4>Lakshay Sharma</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Kabir_Narula.jpg" alt="Kabir Narula">
              <h4>Kabir Narula</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Hardik_Grover.png" alt="Hardik Grover">
              <h4>Hardik Grover</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Nishika_Sharma.jpg" alt="Nishika Sharma">
              <h4>Nishika Sharma</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Daisy_bhardwaj.jpg" alt="Daisy bhardwaj">
              <h4>Daisy bhardwaj</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Himanshi_yadav.jpg" alt="Himanshi yadav">
              <h4>Himanshi yadav</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Lovlesh.JPG" alt="Lovlesh">
              <h4>Lovlesh</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Shivaanchal_Dua.jpg" alt="Shivaanchal Dua">
              <h4>Shivaanchal Dua</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Ananya_Kumar.jpeg" alt="Ananya Kumar">
              <h4>Ananya Kumar</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Mehar_Sindhu.jpeg" alt="Mehar Sindhu">
              <h4>Mehar Sindhu</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Kashish_Jain.jpg" alt="Kashish Jain">
              <h4>Kashish Jain</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Radhika_Mehta.jpg" alt="Radhika Mehta">
              <h4>Radhika Mehta</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Ishaan_seth.jpg" alt="Ishaan seth">
              <h4>Ishaan seth</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Rohan_Gupta.jpg" alt="Rohan Gupta">
              <h4>Rohan Gupta</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Gayatri_Aeri.jpg" alt="Gayatri Aeri">
              <h4>Gayatri Aeri</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Daksh_Kalra.jpeg" alt="Daksh Kalra">
              <h4>Daksh Kalra</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Mokshi.jpeg" alt="Mokshi">
              <h4>Mokshi</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Himanshu.JPG" alt="Himanshu">
              <h4>Himanshu</h4>
            </div>
          </div>

        </div>
        <div class="row" id="creative">
          <h1  class="sticky">Creative Team</h1>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Nishtha_Bansal.png" alt="Nishtha Bansal">
              <h4>Nishtha Bansal</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Tamanna.jpg" alt="Tamanna">
              <h4>Tamanna</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Himanshi_yadav.jpg" alt="Himanshi yadav">
              <h4>Himanshi yadav</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Shreya_Hirawat.jpg" alt="Shreya Hirawat">
              <h4>Shreya Hirawat</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Urja_Luthra.jpg" alt="Urja Luthra">
              <h4>Urja Luthra</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Sakshi_Gupta.jpg" alt="Sakshi Gupta">
              <h4>Sakshi Gupta</h4>
            </div>
          </div>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class='image-card'>


              <img src="/assets/images/team_members/Aarushi_Rawat.jpg" alt="Aarushi Rawat">
              <h4>Aarushi Rawat</h4>
            </div>
          </div>
        </div>
        <div class="row" id="technical">
          <h1  class="sticky">Technical Team</h1>
          <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
            <div class="image-card">


              <img src="/assets/images/team_members/Tushar_Bhatia.JPG" alt="Tushar Bhatia">
              <h4>Tushar Bhatia</h4>
            </div>
          </div>
          <div class="image-card">


            <div class=" column col-sm-3 col-xs-4 col-md-3 aos-item" data-aos="zoom-in">
              <img src="/assets/images/team_members/Pranav_Singhal.jpeg" alt="Pranav Singhal">
              <h4>Pranav Singhal</h4>

            </div>
          </div>
        </div>
      </main>









      <% include ../partials/nav_bottom.ejs %>
    </div>


  </body>
  </html>
